@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

.yatra-one-regular {
  font-family: "Yatra One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.yatra-one-bold {
  font-family: "Yatra One", system-ui;
  font-weight: 700;
  font-style: normal;
}

